@model IEnumerable<WebAndCloudCA.Models.Booking>

@{
    ViewBag.Title = "BookingDetails";
}
@if (Session["name"] != null)
{
<nav class="account_nav">
    <ul class="container">
        <li>@Html.ActionLink("Book A Room", "Booking", "Booking")</li>
        <li>@Html.ActionLink("Account Details", "AccountDetails", "AccountDetails")</li>
        <li>@Html.ActionLink("Booking History", "BookingDetails", "BookingDetails")</li>
        <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
    </ul>
</nav>
    <h2>Booking Details</h2>

    @foreach (var room in Model)
    {
        <div>
            <hr />

            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ArrivalDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartureDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartureDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumberOfGuests)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumberOfGuests)
                </dd>

            </dl>
            
        </div>
     }
 }
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
