@model WebAndCloudCA.Models.Guest

@{
    ViewBag.Title = "Login";
}

<h1 class="line1 headline">Sign in</h1>

<panel class="form">

    @using (Html.BeginForm("Login", "Guest", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
                
        @Html.ValidationSummary(true, "Login failed. Please check your login details.", new { @class = "text-danger-summary" })
        <div>
            <div class="div_flex">
                @Html.LabelFor(l => l.Email)
                @Html.ValidationMessageFor(l => l.Email, "", new { @class = "text-danger" })
            </div>
            @Html.EditorFor(l => l.Email, new { htmlAttributes = new { @class = "textbox" } })
        </div>

        <div>
            <div class="div_flex">
                @Html.LabelFor(l => l.Password)
                @Html.ValidationMessageFor(l => l.Password, "", new { @class = "text-danger" })
            </div>
            @Html.PasswordFor(l => l.Password, new { @class = "textbox" })
        </div>
        
        <div>
            <input type="submit" value="Sign In" class="submit" />
        </div>
        
        <div>
            @Html.ActionLink("Not Registered? Click Here", "Registration")
        </div>    
    }
</panel>


