@model WebAndCloudCA.Models.Guest
<script type="text/javascript" src=@Url.Content("~/Scripts/jquery-1.10.2.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/MyJavaScript.js")></script>

@{
    ViewBag.Title = "Registration";
}

@*<h1 class="line1 headline reg_display">
    <span class="col_rborder">Register New Account</span>
    <span>Log in</span>
</h1>*@
<h1 class="line1 headline">Register New Account</h1>

@ViewBag.Message

    <panel class="form">

        @using (Html.BeginForm("Registration", "Guest", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger-summary" })
            <div>
                <div class="div_flex">
                    @Html.LabelFor(g => g.FirstName)
                    @Html.ValidationMessageFor(g => g.FirstName, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(g => g.FirstName, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(g => g.LastName)
                    @Html.ValidationMessageFor(g => g.LastName, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(g => g.LastName, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(g => g.Email)
                    @Html.ValidationMessageFor(g => g.Email, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(g => g.Email, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(g => g.Password)
                    @Html.ValidationMessageFor(g => g.Password, "", new { @class = "text-danger" })
                </div>
                @Html.PasswordFor(g => g.Password, new { @class = "textbox" })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(g => g.ConfirmPassword)
                    @Html.ValidationMessageFor(g => g.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                @Html.PasswordFor(g => g.ConfirmPassword, new { @class = "textbox" })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(g => g.PhoneNo)
                    @Html.ValidationMessageFor(g => g.PhoneNo, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(g => g.PhoneNo, new { htmlAttributes = new { @class = "textbox" } })
            </div>
            
            <div>
                <input type="submit" value="Create Account" class="submit" />
            </div>
            
            <div>
                @Html.ActionLink("Already Registered? Sign In", "Login")
            </div>        
        }
    </panel>

