@model WebAndCloudCA.Models.Guest
<link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src=@Url.Content("~/Scripts/jquery-1.10.2.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/MyJavaScript.js")></script>

@{
    ViewBag.Title = "Registration";
}

<h1 class="line1 headline reg_display">
    <span class="col_rborder">Register New Account</span>
    <span>Log in</span>
</h1>
<section class="reg_display">

    <panel class="reg_form  col_rborder">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @*NOTE:Complete when Database Created*@
            @*@Html.AntiForgeryToken();
                        @if (ViewBag.Message != null)
                        {
                            <div>
                            @ViewBag.Message
                        </div>
                }*@
        <div class="reg_column">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.FirstName, new { @class = "label_float" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.PhoneNo)
                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "textbox" } })
            </div>

            <div>
                <div>
                    <input type="submit" value="Create Account" class="submit" />
                </div>
            </div>
        </div>
        }
    </panel>

    <panel class="reg_form">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="reg_column">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <div class="div_flex">
                        @Html.LabelFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "textbox" } })
                </div>

                <div>
                    <div class="div_flex">
                        @Html.LabelFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "textbox" } })
                </div>

                <div>
                    <div>
                        <input type="submit" value="Sign In" class="submit" />
                    </div>
                </div>
            </div>
        }
    </panel>

</section>