@model WebAndCloudCA.Models.Guest

@{
    ViewBag.Title = "AccountDetails";
}

@*@if (Session["GuestID"] != null)
{*@
<h2>Account Details</h2>

<div>
    <h4>Welcome @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.GuestId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
@*}*@
