@model WebAndCloudCA.Models.Guest

@{
    ViewBag.Title = "AccountDetails";
}

@if (Session["GuestId"] != null)
{

<nav class="account nav">
    <ul class="container">
        <li>@Html.ActionLink("Book A Room", "Booking", "Booking")</li>
        <li>@Html.ActionLink("Account Details", "AccountDetails", "AccountDetails")</li>
        <li>@Html.ActionLink("Booking History", "BookingDetails", "BookingDetails")</li>
        <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
    </ul>
</nav>
<h2>Account Details</h2>

<div>
    <h4>Welcome @Html.DisplayFor(g => g.Name)</h4>
    <h3>@Session["GuestId"]</h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(g => g.Name)
        </dt>

        <dd>
            @Html.DisplayFor(g => g.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(g => g.Email)
        </dt>

        <dd>
            @Html.DisplayFor(g => g.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(g => g.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(g => g.PhoneNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Details", "EditDetails", "AccountDetails")
    @Html.ActionLink("Back to List", "Index")
</p>
}
