@model WebAndCloudCA.Models.Guest

@{
    ViewBag.Title = "AccountDetails";
}

@*@if (Session["GuestID"] != null)
{*@

<nav class="account nav">
    <ul class="container">
        <li>@Html.ActionLink("Account Details", "AccountDetails", "AccountDetails")</li>
        <li>@Html.ActionLink("Booking History", "BookingDetails", "BookingDetails")</li>
        <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
    </ul>
</nav>
<h2>Account Details</h2>

<div>
    <h4>Welcome @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Details", "EditDetails", "AccountDetails")@* new { id = Model.GuestId })*@
    @Html.ActionLink("Back to List", "Index")
</p>
@*}*@
