@model WebAndCloudCA.Models.Guest

@{
    ViewBag.Title = "EditDetails";
}

<h1 class="line1 headline">Edit Details</h1>

<panel class="reg_form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(g => g.GuestId)
            @Html.DisplayFor(g => g.GuestId)

            <div>
                <div class="div_flex">
                    @Html.LabelFor(g => g.FirstName)
                    @Html.EditorFor(g => g.FirstName, new { htmlAttributes = new { @class = "textbox" } })
                </div>
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.LastName)
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "textbox" } })
                </div>
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

            </div>

            <div>
                <div class="div_flex">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "textbox" } })
                </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                @*  //Need to look into how to change password through Update
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
                *@

            <div >
                <div class="div_flex">
                    @Html.LabelFor(model => model.PhoneNo)
                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "textbox" } })
                </div>
                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })                   
                </div>

                <div>
                    <input type="submit" value="Save" class="submit" />
                </div>

            </div>
    }
</panel>

    <div>
        @Html.ActionLink("Back to Account Details", "AccountDetails")
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
