@model WebAndCloudCA.Models.Booking

@{
    ViewBag.Title = "Booking";
}

@if (Session["name"] != null)
{
    using (Html.BeginForm("Booking", "Booking", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <nav class="account nav">
        <ul class="container">
            <li>@Html.ActionLink("Book A Room", "Booking", "Booking")</li>
            <li>@Html.ActionLink("Account Details", "AccountDetails", "AccountDetails")</li>
            <li>@Html.ActionLink("Booking History", "BookingDetails", "BookingDetails")</li>
            <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
        </ul>
    </nav>
    <h2>Book A Room</h2>
    <hr />
    @ViewBag.Message
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div>
            <div class="div_flex">
                @Html.DisplayNameFor(b => b.Guest.Name)
                @Session["fname"]  @Session["lname"]
            </div>
            @Html.ValidationMessageFor(b => b.Guest.GuestId, "", new { @class = "text-danger" })
        </div>
        <div>
            <div class="div_flex">
                @Html.DisplayNameFor(b => b.Room.RoomId)
                @Html.DisplayFor(b => b.Room.RoomId, new { htmlAttributes = new { @class = "textbox" } })
            </div>
            @Html.ValidationMessageFor(b => b.Room.RoomId, "", new { @class = "text-danger" })
        </div>*@
    <div>
        <div class="div_flex">
            @Html.LabelFor(b => b.ArrivalDate)
            @Html.EditorFor(b => b.ArrivalDate, new { htmlAttributes = new { @class = "textbox" } })
        </div>
        @Html.ValidationMessageFor(b => b.ArrivalDate, "", new { @class = "text-danger" })
    </div>

    <div>
        <div class="div_flex">
            @Html.LabelFor(b => b.DepartureDate)
            @Html.EditorFor(b => b.DepartureDate, new { htmlAttributes = new { @class = "textbox" } })
        </div>
        @Html.ValidationMessageFor(b => b.DepartureDate, "", new { @class = "text-danger" })
    </div>

    <div>
        <div class="div_flex">
            @Html.LabelFor(b => b.NumberOfGuests)
            @*@Html.TextBoxFor(b => b.NumberOfGuests, new { type = "number", min = "1", max = "4" })*@
            @Html.EditorFor(b => b.NumberOfGuests, new { htmlAttributes = new { @class = "textbox" } })
            <div />
            @Html.ValidationMessageFor(b => b.NumberOfGuests, "", new { @class = "text-danger" })
        </div>
    </div>


    <div>
        <input type="submit" value="Book Now" class="submit" />
    </div>

</div>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
